 
 
 
<div  *ngIf="main_data">

    About {{results_num}} results
    <mat-paginator #paginator [pageSize]="pageSize"   [showFirstLastButtons]="true" [length]="length" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"></mat-paginator>

        
      <mat-list  *ngIf="main_data.results">
        <mat-list-item *ngFor="let obj of main_data.results.work; let i = index">
          <img matListAvatar src="{{obj.best_book.image_url}}" alt="{{ obj.best_book.title}} ">
          <h3 matLine>{{ obj.best_book.title}} <span class="gray">{{obj.best_book.author.name}}</span> </h3>
          <p matLine>
            <span class="s12">  # {{obj.best_book.id['#text']}}  </span>
            
          </p>
        </mat-list-item>
      </mat-list>
        


    </div>