<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-12 content-left">
            <div class="content-left-wrapper">
                <a href="https://www.goodreads.com" id="logo">
                    <img src="static/images/logo.png" alt="">
                </a>
                <form [formGroup]="simpleForm" class="search-form">
                    <div class="input-group mb-3"   >
                        <input type="text" formControlName="queryText" class="form-control"  (keyup.enter)="onSearchChange()"  placeholder="Search..." style="font-size: 15px; height: 42px;  " aria-invalid="false"> 
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                  <svg style="width:24px;height:24px; cursor: pointer;" viewBox="0 0 24 24"   (click)="onSearchChange()"  >
                                      <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                                  </svg>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 content-right"  >
            <app-home-react class="containerX"> </app-home-react>
        </div>
    </div>
</div>